h1 {
	text-align: center;
}

#searchDiv {
	padding-top: 1em;
}

#result-div {
	margin-top: 1em;
}

#nameLabel {
	padding-left: 0.5em;
}

.btn-default {
	margin-bottom: 0.5em;
}

#insert-film-button {
	margin-top: 1em;
}